/node_modules
/.env.local
/.umirc.local.ts
/config/config.local.ts
/src/.umi
/src/.umi-production
/.umi
/.umi-production
/.umi-test
/dist
/.idea
/.mfsu
pnpm-lock.yaml
/src/renderer/.umi
/src/renderer/.umi-production
/src/renderer/node_modules
