@import "styles/normalize.css";
@import "styles/ant-notification.less";
@import "styles/ant-modal.less";
@import "mac-scrollbar/dist/mac-scrollbar.css";
//@font-face {
//  font-family: alimama;
//  src: url("./assets/fonts/alimama/alimama_normal.woff");
//}
html,body,#root{
  height: 100%;
  -webkit-user-select: none;
  //font-family: alimama, sans-serif;
}
ul,li{
  list-style: none;
  padding: 0;
  margin: 0;
}
.ant-avatar{
  border: 0;
}

